h1 {
  text-align: center;
  font-weight: 500;
  color: #2f4579;
  font-weight: bold;
  text-decoration: underline;
}

.mat-form-field {
  font-size: 14px;
  width: 96%;
  margin: 0 2%;
}

table {
  width: 100%;
}

td {
  width: 25%;
}

th {
  color: #2f4579;
  width: 25%;
}

.mat-column-vchSede,
.mat-column-numEmpleado {
  width: 14% !important;
}

.mat-column-vchTipoUsuario {
  width: 16% !important;
}

.mat-column-vchNombre {
  width: 20%;
}