<main>
    <h1>ASIGNACIÓN DE MENÚS A ASESORES DE TICKETS</h1>
    <mat-form-field appearance="standard">
        <mat-label>Buscar Registros</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>
    <div class="mat-elevation-z8">
        <div class="style">
            <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="numEmpleado" sticky>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Num. Empleado</th>
                    <td mat-cell *matCellDef="let row">{{row.fkIdEmpleado}}</td>
                </ng-container>

                <!-- Nombre -->
                <ng-container matColumnDef="vchNombre" sticky>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre</th>
                    <td mat-cell *matCellDef="let row">{{row.vchNombre}} {{row.vchApellidoPaterno}}
                        {{row.vchApellidoMaterno}}</td>
                </ng-container>

                <!-- Sede -->
                <ng-container matColumnDef="vchSede">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Sede </th>
                    <td mat-cell *matCellDef="let row">{{row.vchSede|uppercase}}</td>
                </ng-container>

                <!-- Tipo de Usuario -->
                <ng-container matColumnDef="vchTipoUsuario">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Usuario </th>
                    <td mat-cell *matCellDef="let row">{{row.vchTipoUsuario|uppercase}}</td>
                </ng-container>

                <ng-container matColumnDef="vchAreaAtencionDescripcion">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Área Atención </th>
                    <td mat-cell *matCellDef="let row">{{row.vchDescripcionAreaAtencion|uppercase}}</td>
                </ng-container>

                <!-- Botón para configurar los permisos de los menús -->
                <ng-container matColumnDef="permissions" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Permisos </th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-icon-button (click)="permissionsSettings(row.idEmpleado)">
                            <mat-icon class="eye" matTooltip="Configurar permisos">manage_accounts
                            </mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="3">No existen registros</td>
                </tr>
            </table>
        </div>
        <mat-paginator [pageSizeOptions]="[10, 25, 50]" aria-label="Seleccionar página"></mat-paginator>
    </div>
</main>