<main>
  <h1>MIS TICKETS</h1>
      <mat-form-field appearance="standard">
        <mat-label>Buscar Registros</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
      </mat-form-field>

      <div class="mat-elevation-z8">
        <div class="style">
          <table mat-table [dataSource]="dataSource" matSort>

            <!-- ID Ticket -->
            <ng-container matColumnDef="idTicket" sticky>
              <th mat-header-cell *matHeaderCellDef mat-sort-header> No. Ticket</th>
              <td mat-cell *matCellDef="let row"> {{row.idCreacionTicket}} </td>
            </ng-container>

            <ng-container matColumnDef="incidence" sticky>
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Incidencia</th>
              <td mat-cell *matCellDef="let row"> {{row.incidencesDescription}} </td>
            </ng-container>

            <!-- Fecha -->
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Solicitud </th>
              <td mat-cell *matCellDef="let row"> {{row.fechaSolicitud | date: 'dd/MM/yyyy hh:mm a'}} </td>
            </ng-container>

            <!-- Estado -->
            <ng-container matColumnDef="state">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
              <td mat-cell *matCellDef="let row">
                <div class="state-wrapper">
                  <div class="ticket-state-{{row.idEstadoTicket}}">
                    <mat-icon *ngIf="row.idEstadoTicket === 1" class="icon-state">pending</mat-icon>
                    <mat-icon *ngIf="row.idEstadoTicket === 2" class="icon-state">pending_actions</mat-icon>
                    <mat-icon *ngIf="row.idEstadoTicket === 3" class="icon-state">check_circle_outline</mat-icon>
                  </div>
                  <p>{{row.statusDescription}}</p>
                </div>
              </td>
            </ng-container>

            <!-- Detalles -->
            <ng-container matColumnDef="details">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Detalles </th>
              <td mat-cell *matCellDef="let row"><button mat-icon-button (click)="openDialog(row)">
                  <mat-icon class="eye" matTooltip="Detalles del Ticket: {{row.idCreacionTicket}}">remove_red_eye
                  </mat-icon>
                </button></td>
            </ng-container>

            <!--          MENSAJES-->
            <ng-container matColumnDef="messages" stickyEnd>
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Mensajes </th>
              <td mat-cell *matCellDef="let row">
                <button mat-icon-button
                  (click)="openDialogMessages(row.idCreacionTicket, row.idEstadoTicket, row.fkIdEmpleadoAtiende)">
                  <mat-icon class="eye" matTooltip="Mensajes del Ticket: {{row.idCreacionTicket}}">chat</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="3">No se encontraron coincidencias... "{{input.value}}"</td>
            </tr>
          </table>
        </div>

        <mat-paginator [pageSizeOptions]="[10, 25, 50]" aria-label="Select page of users"></mat-paginator>
      </div>

</main>