<main>
    <h1>AJUSTES DE PERFILES</h1>
    <div>
        <form [formGroup]="formGroup">
            <mat-form-field appearance="fill" class="ticket-form">
                <mat-label>Seleccionar un tipo de usuario</mat-label>
                <mat-select (selectionChange)="changeUserType()" formControlName="userType">
                    <mat-option *ngFor="let type of userTypes" [value]="type.idTipoUsuario">
                        {{type.vchDescripcion}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </div>
    <div>
        <mat-form-field appearance="standard">
            <mat-label>Buscar Registros</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
        </mat-form-field>
        <div class="mat-elevation-z8">
            <div style="height: 250px; text-align: center; margin-top: 25px;"
                *ngIf="loaderActivated === true; else elseBlock">
                <mat-spinner style="margin-left: auto; margin-right: auto;"></mat-spinner><br>
                <b><label>Cagando registros</label></b>
            </div>
            <ng-template #elseBlock>
                <div class="style">
                    <table mat-table [dataSource]="dataSource" matSort>
                        <ng-container matColumnDef="numEmpleado">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Num. Empleado</th>
                            <td mat-cell *matCellDef="let row">{{row.numEmpleado}}</td>
                        </ng-container>
                        <!-- Nombre -->
                        <ng-container matColumnDef="vchNombre">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre</th>
                            <td mat-cell *matCellDef="let row">{{row.vchNombre}} {{row.vchApellidoPaterno}}
                                {{row.vchApellidoMaterno}}</td>
                        </ng-container>
                        <!-- Sede -->
                        <ng-container matColumnDef="vchSede">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sede </th>
                            <td mat-cell *matCellDef="let row">{{row.vchSede|uppercase}}</td>
                        </ng-container>
                        <!-- Tipo de Usuario -->
                        <ng-container matColumnDef="vchTipoUsuario">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Usuario </th>
                            <td mat-cell *matCellDef="let row">{{row.vchDescripcionTipoUsuario|uppercase}}</td>
                        </ng-container>
                        <!-- Área de atención -->
                        <ng-container matColumnDef="areaAtencion">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Área de Atención </th>
                            <td mat-cell *matCellDef="let row">{{row.vchDescripcionAreaAtencion|uppercase}}</td>
                        </ng-container>
                        <!-- Sesión -->
                        <ng-container matColumnDef="sesionActiva">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sesión </th>
                            <!-- <td mat-cell *matCellDef="let row">{{row.blnSesionActiva === 0 ? 'INACTIVA' : 'ACTIVA'}}</td> -->
                            <td mat-cell *matCellDef="let row">
                                <mat-checkbox
                                    [disabled]="row.blnCuentaActiva === 0 || row.blnCuentaActiva === false ? true : false"
                                    [checked]="row.blnSesionActiva"
                                    (change)="changeStatusSession($event, row.email, false)">
                                    {{row.blnSesionActiva === 0 || row.blnSesionActiva === false ? 'INACTIVA' :
                                    'ACTIVA'}}
                                </mat-checkbox>
                            </td>
                        </ng-container>

                        <!-- Cuenta -->
                        <ng-container matColumnDef="cuentaActiva">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cuenta </th>
                            <!-- <td mat-cell *matCellDef="let row">{{row.blnSesionActiva === 0 ? 'INACTIVA' : 'ACTIVA'}}</td> -->
                            <td mat-cell *matCellDef="let row">
                                <mat-checkbox [checked]="row.blnCuentaActiva"
                                    (change)="changeStatusAccount($event, row.idEmpleado)">
                                    {{row.blnCuentaActiva === 0 || row.blnCuentaActiva === false ? 'INACTIVA' :
                                    'ACTIVA'}}
                                </mat-checkbox>
                            </td>
                        </ng-container>

                        <!-- Botón para configurar el tipo de usuario -->
                        <ng-container matColumnDef="ajustesUsuario">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
                            <td mat-cell *matCellDef="let row">
                                <button mat-icon-button
                                    [disabled]="row.blnCuentaActiva === 0 || row.blnCuentaActiva === false ? true : false"
                                    (click)="openManageProfileModal(row.idEmpleado, row.fkIdTipoUsuario, row.idAreaAtencion)">
                                    <mat-icon class="eye" matTooltip="Cambiar Tipo de Usuario">manage_accounts
                                    </mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <!-- Botón para configurar los permisos de los menús -->
                        <ng-container matColumnDef="ajustesMenus">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Menús </th>
                            <td mat-cell *matCellDef="let row">
                                <button mat-icon-button
                                    [disabled]="row.blnCuentaActiva === 0 || row.blnCuentaActiva === false ? true : false"
                                    (click)="permissionsSettings(row.idEmpleado)">
                                    <mat-icon class="eye" matTooltip="Administrar menús">settings
                                    </mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        <!-- Row shown when there is no matching data. -->
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="3">No existen registros</td>
                        </tr>
                    </table>
                </div>
                <mat-paginator [pageSizeOptions]="[10, 25, 50]" aria-label="Seleccionar página"></mat-paginator>
            </ng-template>
        </div>
    </div>
</main>