h1 {
    text-align: center;
    font-weight: 500;
    color: #2f4579;
    font-weight: bold;
    text-decoration: underline;
}

.mat-form-field {
    font-size: 14px;
    width: 96%;
    margin: 0 2%;
}

table {
    width: 100%;
}

td {
    width: 25%;
}

th {
    background-color: #2f4579;
    color: #fff;
    width: 25%;
}

.mat-column-numEmpleado {
    width: 12% !important;
}

.mat-column-sesionActiva,
.mat-column-cuentaActiva,
.mat-column-vchSede,
.mat-column-ajustesMenus,
.mat-column-ajustesUsuario {
    width: 10% !important;
}

.mat-column-vchTipoUsuario,
.mat-column-areaAtencion {
    width: 15% !important;
}
