<header>
    <h1>Detalles del Ticket #{{dataTicket.fkIdCreacionTicket}}{{dataTicket.idCreacionTicket}}</h1>
</header>
<section>
    <div class="box">
        <p><b>Solicitante: </b></p>
        <p><b>No. de Ticket: </b></p>
        <p><b>Tipo de Incidencia: </b></p>
        <p><b>Detalle de Incidencia: </b></p>
        <p *ngIf="dataTicket.txtDescripcion != null"><b>Descripción Adicional: </b></p>
        <p><b>Fecha de solicitud: </b></p>
        <p *ngIf="dataTicket.vchDescripcionEstadoTickets != null"><b>Estado del ticket: </b></p>
        <p><b>Sede: </b></p>
        <p><b>Atiende: </b></p>
    </div>
    <div class="box">
        <p>{{dataTicket.vchNombre}} {{dataTicket.vchApellidoPaterno}} {{dataTicket.vchApellidoMaterno}}</p>
        <p *ngIf="dataTicket.fkIdCreacionTicket">{{dataTicket.fkIdCreacionTicket}}</p>
        <p *ngIf="dataTicket.idCreacionTicket">{{dataTicket.idCreacionTicket}}</p>
        <p>{{dataTicket.vchDescripcionIncidencias}}</p>
        <p>{{dataTicket.vchDescripcionDetalleIncidencias}} </p>
        <p *ngIf="dataTicket.txtDescripcion != null">{{dataTicket.txtDescripcion}}</p>
        <p>{{dataTicket.fechaSolicitud | date: 'dd/MM/yyyy HH:MM'}} </p>
        <p *ngIf="dataTicket.vchDescripcionEstadoTickets != null">{{dataTicket.vchDescripcionEstadoTickets}} </p>
        <p>{{dataTicket.vchSede}} </p>
        <p>{{ employeeNameAttendingTicket }}</p>
    </div>
</section>
<button class="actionsBTNS" mat-raised-button (click)="closeModal()">
    <mat-icon>close</mat-icon> Cerrar
</button>