<main>
<!--  IMG CONTAINER-->
  <section class="banner-and-info">
    <img class="banner-1" src="assets/img/banner-1.svg" alt="">
  </section>

<!--  FORM CARD CONTAINER-->
  <mat-card>
    <h3 class="title">INICIA SESIÓN</h3>
<!--    GOOGLE LOGIN BUTTON -->
     <div style="
     padding: 10%;
     border-radius: 50px" id="my-signin2"></div>
  </mat-card>
</main>



