main {
  width: 100%;
  height: 100vh;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(255,255,255);
  background: linear-gradient(45deg, white 60%, #2F4579 100%);
}

mat-card {
  width: 400px;
  height: 300px;
  text-align: center;
  padding: 10px;
  overflow: auto;
  background: white;
}

form {
  width: 350px;
  height: 200px;
  display: inline-grid;
}

.title {
  margin: 0;
}

button {
  background-color: #ffffff;
  color: #000000;
  transition: all ease 0.3s;
  height: 30px;
  width: 100%;
}

button:enabled:hover {
  background-color: #2F4579;
  color: #ffffff;
}

.Cuenta {
  font-weight: normal;
  font-size: 1.1rem;
  margin-top: 10px;
}

a {
  color: #b83c6a;
  font-weight: bold;
}

.banner-and-info {
  width: 50%;
  height: 100vh;
  display: contents;
}

.banner-1 {
  height: 50%;
}

//GOOGLE BUTTON STYLES
.abcRioButtonBlue {
  border: none;
  color: #000;
}

.abcRioButtonBlue, .abcRioButtonBlue:hover {
  background-color: #ffffff;
  width: 100%;
}

.abcRioButton {
  border-radius: 1px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background-color .218s,border-color .218s,box-shadow .218s;
  transition: background-color .218s,border-color .218s,box-shadow .218s;
  -webkit-user-select: none;
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  color: #262626;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  ----- RESPONSIVE SECTION -----  ////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen and(max-width: 1024px) {
  mat-card {
    width: 400px;
    height: 330px;
  }

  form {
    width: 340px;
    height: 280px;
  }

  .drawLogin {
    width: 480px;
    height: 480px;
  }
}

@media only screen and(max-width: 768px) {
  mat-card {
    width: 100%;
    height: 330px;
    position: relative;
    top: 30px;
  }

  form {
    width: 340px;
    height: 280px;
  }

  .drawLogin {
    width: 480px;
    height: 480px;
  }
  .banner-and-info {
    width: 100%;
    height: auto;
    display: inline-flex;
    justify-content: center;
  }
  .banner-1 {
    width: 200px;
    margin-top: 70px;

  }
}

@media only screen and(max-width: 760px) {
  main {
    display: block;
    justify-content: center;
  }
  mat-card {
    width: 410px;
    height: 330px;
    margin: auto;
  }

  form {
    width: 300px;
    height: 290px;
  }

  .drawLogin {
    display: none;
  }

  .Cuenta {
    font-weight: normal;
    font-size: 1rem;
    margin-top: 10px;
  }
}

@media only screen and(max-width: 620px) {
  main {
    display: block;
    justify-content: center;
  }
  mat-card {
    width: 320px;
    height: 360px;
    margin: auto;
    position: relative;
    top: 40px;
  }

  form {
    width: 290px;
    height: 330px;
  }

  .drawLogin {
    display: none;
  }

  .Cuenta {
    font-weight: normal;
    font-size: 1rem;
    margin-top: 10px;
  }
}

@media only screen and(max-width: 580px) {
  main {
    display: block;
    justify-content: center;
  }
  mat-card {
    width: 400px;
    height: 350px;
    margin: auto;
    position: relative;
    top: 40px;
  }

  form {
    width: 270px;
    height: 310px;
  }

  .drawLogin {
    display: none;
  }

  .Cuenta {
    font-weight: normal;
    font-size: 1rem;
    margin-top: 8px;
  }
}

@media only screen and(max-width: 420px) {
  main {
    display: block;
    justify-content: center;
  }
  mat-card {
    width: 360px;
    height: 350px;
    margin: auto;
    position: relative;
    top: 50px;
  }

  form {
    width: 250px;
    height: 300px;
  }

  .drawLogin {
    display: none;
  }

  .Cuenta {
    font-weight: normal;
    font-size: 0.9rem;
    margin-top: 6px;
  }
}

@media only screen and(max-width: 360px) {
  main {
    display: block;
    justify-content: center;
  }
  mat-card {
    width: 280px;
    height: 340px;
    margin: auto;
    position: relative;
    top: 50px;
  }

  form {
    width: 250px;
    height: 300px;
  }

  .drawLogin {
    display: none;
  }

  .Cuenta {
    font-weight: normal;
    font-size: 0.9rem;
    margin-top: 6px;
  }
  .banner-and-info {
    width: 100%;
    height: auto;
    display: inline-flex;
    justify-content: center;
  }
  .banner-1 {
    width: 170px;
    margin-top: 70px;
  }
}

@media only screen and(max-width: 320px) {
  main {
    display: block;
    justify-content: center;
  }
  mat-card {
    width: 270px;
    height: 350px;
    margin: auto;
    position: relative;
    top: 20px;
  }

  form {
    width: 240px;
    height: 290px;
  }

  .drawLogin {
    display: none;
  }

  .Cuenta {
    font-weight: normal;
    font-size: 0.9rem;
    margin-top: 6px;
  }
  .banner-and-info {
    display: none;
  }
}
