<main>
    <h1>AJUSTES DE TICKETS</h1>
    <div class="tab-container">
        <mat-tab-group mat-stretch-tabs (selectedTabChange)="changeTab($event)">
            <mat-tab>
                <ng-template matTabLabel>
                    <mat-icon>pending</mat-icon>
                    Tickets Pendientes
                </ng-template>
                <ng-template matTabContent>
                    <div class="table-container-control">
                        <div style="height: 250px; text-align: center; margin-top: 25px;"
                            *ngIf="loaderActivated === true; else elseBlock">
                            <mat-spinner style="margin-left: auto; margin-right: auto;"></mat-spinner><br>
                            <b><label>Cagando registros</label></b>
                        </div>
                        <ng-template #elseBlock>
                            <mat-form-field appearance="standard">
                                <mat-label>Buscar Registros</mat-label>
                                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
                            </mat-form-field>
                            <div class="mat-elevation-z8">
                                <table mat-table [dataSource]="dataSource" matSort>
                                    <ng-container matColumnDef="ticketID" sticky>
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID Ticket</th>
                                        <td mat-cell *matCellDef="let row">{{row.fkIdCreacionTicket}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="vchEmpleadoSolicita">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Empleado Solicitante
                                        </th>
                                        <td mat-cell *matCellDef="let row">{{row.vchNombre}} {{row.vchApellidoPaterno}}
                                            {{row.vchApellidoMaterno}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="vchIncidencia" sticky>
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Incidencia </th>
                                        <td mat-cell *matCellDef="let row">{{row.vchDescripcionIncidencias}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="vchEstadoTicket" sticky>
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado Ticket </th>
                                        <td mat-cell *matCellDef="let row">{{row.vchDescripcionEstadoTickets}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="vchAreaAtencion">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Area Atención </th>
                                        <td mat-cell *matCellDef="let row">{{row.vchDescripcionAreaAtencion}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="vchSede" sticky>
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sede </th>
                                        <td mat-cell *matCellDef="let row">{{row.vchSede}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="detalles" stickyEnd>
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Detalles </th>
                                        <td mat-cell *matCellDef="let row">
                                            <button mat-icon-button (click)="openDetailModal(row, true)">
                                                <mat-icon class="eye">remove_red_eye</mat-icon>
                                            </button>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="ajustes" stickyEnd>
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ajustes </th>
                                        <td mat-cell *matCellDef="let row">
                                            <button mat-icon-button
                                                (click)="openDialogSettingTickets(row.fkIdCreacionTicket, row.idAreaAtencion)">
                                                <mat-icon class="eye">settings</mat-icon>
                                            </button>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="reabrir" stickyEnd>
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Reabrir </th>
                                        <td mat-cell *matCellDef="let row">
                                            <mat-checkbox (change)="reopen(row.fkIdCreacionTicket)">
                                                Reabrir Ticket
                                            </mat-checkbox>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                                    <tr class="mat-row" *matNoDataRow>
                                        <td class="mat-cell" colspan="3">No existen registros</td>
                                    </tr>
                                </table>
                                <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]" aria-label="Seleccionar página">
                                </mat-paginator>
                            </div>
                        </ng-template>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template matTabLabel>
                    <mat-icon>pending_actions</mat-icon>
                    Tickets En Proceso
                </ng-template>
                <ng-template matTabContent>
                    <div class="table-container-control">
                        <div style="height: 250px; text-align: center; margin-top: 25px;"
                            *ngIf="loaderActivated === true; else elseBlock">
                            <mat-spinner style="margin-left: auto; margin-right: auto;"></mat-spinner><br>
                            <b><label>Cagando registros</label></b>
                        </div>
                        <ng-template #elseBlock>
                            <mat-form-field appearance="standard">
                                <mat-label>Buscar Registros</mat-label>
                                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
                            </mat-form-field>
                            <div class="mat-elevation-z8">
                                <table mat-table [dataSource]="dataSource" matSort>
                                    <ng-container matColumnDef="ticketID" sticky>
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID Ticket</th>
                                        <td mat-cell *matCellDef="let row">{{row.fkIdCreacionTicket}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="vchEmpleadoSolicita">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Empleado Solicitante
                                        </th>
                                        <td mat-cell *matCellDef="let row">{{row.vchNombre}} {{row.vchApellidoPaterno}}
                                            {{row.vchApellidoMaterno}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="vchIncidencia" sticky>
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Incidencia </th>
                                        <td mat-cell *matCellDef="let row">{{row.vchDescripcionIncidencias}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="vchEstadoTicket" sticky>
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado Ticket </th>
                                        <td mat-cell *matCellDef="let row">{{row.vchDescripcionEstadoTickets}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="vchAreaAtencion">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Area Atención </th>
                                        <td mat-cell *matCellDef="let row">{{row.vchDescripcionAreaAtencion}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="vchSede">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sede </th>
                                        <td mat-cell *matCellDef="let row">{{row.vchSede}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="detalles" stickyEnd>
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Detalles </th>
                                        <td mat-cell *matCellDef="let row">
                                            <button mat-icon-button (click)="openDetailModal(row, true)">
                                                <mat-icon class="eye">remove_red_eye</mat-icon>
                                            </button>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="ajustes" stickyEnd>
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ajustes </th>
                                        <td mat-cell *matCellDef="let row">
                                            <button mat-icon-button
                                                (click)="openDialogSettingTickets(row.fkIdCreacionTicket, row.idAreaAtencion)">
                                                <mat-icon class="eye">settings</mat-icon>
                                            </button>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="reabrir" stickyEnd>
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Reabrir </th>
                                        <td mat-cell *matCellDef="let row">
                                            <mat-checkbox (change)="reopen(row.fkIdCreacionTicket)">
                                                Reabrir Ticket
                                            </mat-checkbox>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                                    <tr class="mat-row" *matNoDataRow>
                                        <td class="mat-cell" colspan="3">No existen registros</td>
                                    </tr>
                                </table>
                                <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]" aria-label="Seleccionar página">
                                </mat-paginator>
                            </div>
                        </ng-template>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template matTabLabel>
                    <mat-icon>check_circle_outline</mat-icon>
                    Tickets Cerrados
                </ng-template>
                <ng-template matTabContent>
                    <div class="table-container-control">
                        <div style="height: 250px; text-align: center; margin-top: 25px;"
                            *ngIf="loaderActivated === true; else elseBlock">
                            <mat-spinner style="margin-left: auto; margin-right: auto;"></mat-spinner><br>
                            <b><label>Cagando registros</label></b>
                        </div>
                        <ng-template #elseBlock>
                            <mat-form-field appearance="standard">
                                <mat-label>Buscar Registros</mat-label>
                                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
                            </mat-form-field>
                            <div class="mat-elevation-z8">
                                <table mat-table [dataSource]="dataSource" matSort>
                                    <ng-container matColumnDef="ticketID">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID Ticket</th>
                                        <td mat-cell *matCellDef="let row">{{row.fkIdCreacionTicket}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="vchEmpleadoSolicita">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Empleado Solicitante
                                        </th>
                                        <td mat-cell *matCellDef="let row">{{row.vchNombre}} {{row.vchApellidoPaterno}}
                                            {{row.vchApellidoMaterno}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="vchIncidencia">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Incidencia </th>
                                        <td mat-cell *matCellDef="let row">{{row.vchDescripcionIncidencias}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="vchEstadoTicket">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado Ticket </th>
                                        <td mat-cell *matCellDef="let row">{{row.vchDescripcionEstadoTickets}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="vchAreaAtencion">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Area Atención </th>
                                        <td mat-cell *matCellDef="let row">{{row.vchDescripcionAreaAtencion}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="vchSede">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sede </th>
                                        <td mat-cell *matCellDef="let row">{{row.vchSede}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="detalles" stickyEnd>
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Detalles </th>
                                        <td mat-cell *matCellDef="let row">
                                            <button mat-icon-button (click)="openDetailModal(row, true)">
                                                <mat-icon class="eye">remove_red_eye</mat-icon>
                                            </button>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="ajustes">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ajustes </th>
                                        <td mat-cell *matCellDef="let row">
                                            <button mat-icon-button
                                                (click)="openDialogSettingTickets(row.fkIdCreacionTicket, row.idAreaAtencion)">
                                                <mat-icon class="eye">settings</mat-icon>
                                            </button>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="reabrir" stickyEnd>
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Reabrir </th>
                                        <td mat-cell *matCellDef="let row">
                                            <mat-checkbox (change)="reopen(row.fkIdCreacionTicket)">
                                                Reabrir Ticket
                                            </mat-checkbox>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                                    <tr class="mat-row" *matNoDataRow>
                                        <td class="mat-cell" colspan="3">No existen registros</td>
                                    </tr>
                                </table>
                                <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]" aria-label="Seleccionar página">
                                </mat-paginator>
                            </div>
                        </ng-template>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template matTabLabel>
                    <mat-icon>do_not_disturb_on</mat-icon>
                    Tickets No Asignados
                </ng-template>
                <ng-template matTabContent>
                    <app-table-tickets-not-assinged></app-table-tickets-not-assinged>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</main>