h1 {
    text-align: center;
    font-weight: 500;
    color: #2f4579;
    font-weight: bold;
    text-decoration: underline;
}

.tab-container {
    padding: 0 50px;
}

.mat-form-field {
    font-size: 14px;
    width: 96%;
    margin: 0 2%;
}

table {
    width: 100%;
}

td {
    width: 25%;
}

th {
    color: #2f4579;
    width: 25%;
}

.mat-column-ticketID,
.mat-column-vchEstadoTicket,
.mat-column-vchSede,
.mat-column-detalles,
.mat-column-ajustes,
.mat-column-reabrir {
    width: 10% !important;
}

.mat-column-vchIncidencia,
.mat-column-vchAreaAtencion,
.mat-column-dtFechaSolicitud {
    width: 15%;
}

.mat-column-vchEmpleadoSolicita {
    width: 30% !important;
}

// ESTO CORRIGIÓ LO DEL BORDE INFERIOR DE LA TABLA
.table-container-control {
    padding: 0 0 30px 0;
}
