<main>
  <h1><b>LEVANTAR TICKETS</b></h1>
  <section class="container">
    <article class="leftSideBox">
      <p class="principalInfo">
        Para levantar un ticket necesitamos que especifiques los detalles del mismo. <br><br>
        Para tener una solución más concreta llena por favor el siguiente formulario con la información que se asemeje
        más a tu solicitud.</p>
      <br>
      <div class="forms-wrapper">
        <form [formGroup]="formGroupTicket.formGroupTicket">
          <!-- Empleado -->
          <mat-form-field appearance="fill" class="ticket-form">
            <mat-label>Solicitar ticket a nombre de:</mat-label>
            <mat-select (selectionChange)="changeName()" formControlName="employee">
              <mat-option *ngFor="let employee of employeesArray" [value]="employee.idEmpleado">
                {{employee.vchNombre}} {{employee.vchApellidoPaterno}} {{employee.vchApellidoMaterno}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!-- Incidencia -->
          <mat-form-field appearance="fill" class="ticket-form">
            <mat-label>Incidencia</mat-label>
            <mat-select (selectionChange)="changeIncidence($event.value)" [disabled]="enabledIncidence"
              formControlName="incidence">
              <mat-option *ngFor="let incidence of incidencesArray" [value]="incidence.idIncidencia">
                {{incidence.vchDescripcion}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!-- Detalle de incidencia -->
          <mat-form-field appearance="fill" class="ticket-form">
            <mat-label>Detalle de incidencia</mat-label>
            <mat-select [disabled]="enabledIncidenceDetails" (selectionChange)="changeIncidenceDetails()"
              formControlName="incidenceDetails">
              <mat-option *ngFor="let detail of incidencesDetailsArray" [value]="detail.idDetalleIncidencia">
                {{detail.vchDescripcion}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!-- Descripción del ticket -->
          <mat-form-field *ngIf="enabledTextAreaDescription === false ? 'disabled' : ''" class="ticket-form"
            appearance="fill">
            <mat-label>Descripción de falla</mat-label>
            <textarea formControlName="descriptionIncidenceOther" matInput></textarea>
          </mat-form-field>
          <!-- DETALLE MAS ESPECIFICO-->
          <mat-form-field class="ticket-form" appearance="fill"
            *ngIf="enableOptionalMessage=== false ? 'disabled' : ''">
            <mat-label>Mensaje (opcional)</mat-label>
            <textarea formControlName="optionalDescription" matInput></textarea>
          </mat-form-field>
          <!-- ADJUNTAR IMAJEN COMO PRIMER MENSAJE-->
          <button mat-raised-button color="primary" matTooltip="De ser posible apoyanos con una imagen de tu problema,
                  solo basta con dar click en este botón para subir una imagen (opcional)"
            class="uploadImageAsFirstMessage" (click)="searchImage()"
            *ngIf="enableOptionalImageButton === false ? 'disabled' : ''">
            {{fileImage ? 'Cambiar Imagen' : 'Subir Imagen'}} <mat-icon>add_photo_alternate</mat-icon>
          </button>
          <p *ngIf="fileImage" class="imageName">Imagen seleccionada: <b class="nameBold">{{ fileImage.name }} <br>
              <img *ngIf="fileImage" [src]="url" class="imagenTooltip"> </b>
          </p>
          <!-- Área de atención -->
          <mat-form-field appearance="fill" class="ticket-form">
            <mat-label>Area de Atención</mat-label>
            <mat-select [disabled]="enabledAtentionArea" formControlName="atentionArea">
              <mat-option *ngFor="let area of atentionAreasArray" [value]="area.idAreaAtencion">
                {{area.vchDescripcion}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button class="btnAddTicket" color="primary"
            [disabled]="formGroupTicket.formGroupTicket.invalid" (click)="addTicketToList()">Agregar</button>
        </form>
      </div>
    </article>

    <!-- Lista donde se van agregando los tickets -->

    <article class="rightSideBox">
      <p class="principalInfo">
        En esta sección se vera reflejada la cantidad de tickets que levantes para que valides la información referente
        a tu solicitud antes de enviarla. <br><br> </p>
      <label *ngIf="ticketsListFront.length === 0; else elseBlock" class="noTickectsMessage">No hay tickets
        agregados</label>
      <!-- #region Listado de tickets -->
      <ng-template #elseBlock>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let ticket of ticketsListFront; let index = index"
            (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>

                <b>Ticket Listado No.&nbsp;</b> #{{index + 1}}
              </mat-panel-title>
              <mat-panel-description>
                <b>Incidencia:&nbsp;</b> {{ticket.vchIncidence}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p> <b>Ticket solicitado a nombre de:</b> {{ticket.vchEmployee}}</p>
            <p> <b>Detalle de la incidencia:</b> {{ticket.vchIncidenceDetail}}</p>
            <p *ngIf="ticket.vchIncidenceDetail === 'Otro'"> <b>Descripción adicional: </b>
              {{ticket.vchDescriptionOther}}
            </p>
            <p *ngIf="ticket.vchAdditionalDescripcion !== null && ticket.vchAdditionalDescripcion.trim() !== ''">
              <b>Mensaje:</b> {{ticket.vchAdditionalDescripcion}}
            </p>
            <p *ngIf="ticket.vchNameImageSelected.trim() !== ''"><b>Imagen seleccionada:</b>
              {{ticket.vchNameImageSelected}}</p>
            <p> <b>Área de Atención:</b> {{ticket.vchAtentionAreaDescription}}</p>
            <p> <b>Sede: </b> {{ticket.vchSedeSolicita}} </p>
            <!-- <button mat-raised-button color="warn" class="deleteTicketButton" (click)="deleteTicket(index)">Eliminar
              Ticket</button> -->
            <button mat-raised-button color="accent" class="deleteTicketButton" (click)="editTicket(index)">Editar
              Ticket</button>
          </mat-expansion-panel>
        </mat-accordion>
        <br>
        <button mat-raised-button color="primary" class="sendTicketsButton" (click)="sendTickets()">Enviar
          tickets</button>
      </ng-template>
      <!-- #endregion -->
    </article>
  </section>
</main>

<input type="file" accept="image/*" (change)="onFileChange($event)" #file hidden>