h1 {
  text-align: center;
}
.imageName{
  margin: 6px 0 20px 0;
  font-size: 16px;
  cursor: default;

  b{
    cursor: pointer;
    color: #2f4579;
  }
}

.nameBold:hover{
  color: #425788;
}

.nameBold:hover .imagenTooltip{
  visibility: visible;
  opacity: 1;
}
.imagenTooltip{
  max-width: 45vw;
  height: auto;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  margin: 7px 0 0 159px;
  transition: opacity 0.5s;
  z-index: 1;
}
.container {
  width: 100%;
  height: 80%;
  display: inline-flex;
}

.leftSideBox {
  width: 46%;
  padding: 1% 2%;
  height: 98%;
  // background-color: red;
}

.rightSideBox {
  width: 46%;
  padding: 1% 2%;
  height: 98%;
  max-height: 98%;
  overflow-y: auto;
}

.principalInfo {
  color: #000000;
  font-weight: normal;
  font-size: 1rem;
  margin: 0;
}

.forms-wrapper{
  display: flex;
  flex-direction: column;
}

textarea{
  resize: none;
  border-radius: 3px;
}

.ticket-form{
  // margin-top: 50px;
  font-size: 16px;
  width: 100%;
}

.btnAddTicket {
  width: 100%;
  font-size: 15px;
  margin-top: 15px;
}

.deleteTicketButton{
  width: 100%;
  font-size: 15px;
}

.sendTicketsButton {
  width: 100%;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

.uploadImageAsFirstMessage {
  width: 100%;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 20px;
}

.noTickectsMessage {
  padding: 10px 5px;
  border-radius: 10px;
  color: #fff;
  background-color: #2f4579;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  ----- RESPONSIVE SECTION -----  ////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen and(max-width: 1024px) {}
@media only screen and(max-width: 768px) {
    .container {
    height: 100%;
    display: inline-block;
  }
  .leftSideBox {
    width: 96%;
    padding: 1% 2%;
    height: auto;
  }

  .rightSideBox {
    width: 96%;
    padding: 3% 2%;
    height: initial;
    overflow: hidden;
  }
}
@media only screen and(max-width: 760px) {
    .container {
    height: 100%;
    display: inline-block;
  }
  .leftSideBox {
    width: 96%;
    padding: 1% 2%;
    height: auto;
  }

  .rightSideBox {
    width: 96%;
    padding: 3% 2%;
    height: initial;
    overflow: hidden;
  }
}
@media only screen and(max-width: 620px) {
  .container {
    height: 100%;
    display: inline-block;
  }
  .leftSideBox {
    width: 96%;
    padding: 1% 2%;
    height: auto;
  }

  .rightSideBox {
    width: 96%;
    padding: 3% 2%;
    height: initial;
    overflow: hidden;
  }
}
@media only screen and(max-width: 580px) {
  .container {
    height: 100%;
    display: inline-block;
  }
  .leftSideBox {
    width: 96%;
    padding: 1% 2%;
    height: auto;
  }

  .rightSideBox {
    width: 96%;
    padding: 3% 2%;
    height: initial;
    overflow: hidden;
  }
}
@media only screen and(max-width: 420px) {
  .container {
    height: 100%;
    display: inline-block;
  }
  .leftSideBox {
    width: 96%;
    padding: 1% 2%;
    height: auto;
  }

  .rightSideBox {
    width: 96%;
    padding: 3% 2%;
    height: initial;
    overflow: hidden;
  }
}
@media only screen and(max-width: 360px) {
  .container {
    height: 100%;
    display: inline-block;
  }
  .leftSideBox {
    width: 96%;
    padding: 1% 2%;
    height: auto;
  }

  .rightSideBox {
    width: 96%;
    padding: 3% 2%;
    height: initial;
    overflow: hidden;
  }
}
@media only screen and(max-width: 320px) {
  .container {
    height: 100%;
    display: inline-block;
  }
  .leftSideBox {
    width: 96%;
    padding: 1% 2%;
    height: auto;
  }

  .rightSideBox {
    width: 96%;
    padding: 3% 2%;
    height: initial;
    overflow: hidden;
  }
}
