<div (keydown)="keyPressGlobal($event)">
  <div class="toolbarChat">
    <div>
      <div [hidden]="!hiddenChat">
        <button mat-icon-button aria-label="Example icon-button with a menu" (click)="goBack()">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>
    </div>
    <label for="" style="margin-left:40px;">Ticket #{{dataExternalDialog.ticketId}}</label>
    <button class="actionsBTNS" mat-button (click)="closeMessageDialog()" *ngIf="!hiddenChat">X</button>
    <div *ngIf="hiddenChat"></div>
  </div>
  <div class="chat-messages" id="principal-container" [hidden]="hiddenChat">
    <div class="chat-messages-show-container" id="container-msg-list">
      <ul *ngIf="chatClass.messagesArray.length !== 0" class="chat-messages-show-list" id="message-list">
        <li *ngFor="let msg of chatClass.messagesArray; let index = index">
          <!-- PARA MENSAJES QUE SE ENVÍAN -->
          <div *ngIf="msg.profileid === chatClass.profile['profileid']" class="msg-send">
            <p class="name-profile">Tú</p>
            <p>
              <a (click)="viewImages(msg.image)">
                <img [src]="baseURL + '/images/download/' + msg.image" *ngIf="msg.image !== ''" height="100px"
                  class="img-chat">
              </a>
            </p>
            <p style="font-weight: 500;" *ngIf="msg.message !== ''">{{msg.message}}</p>
            <p class="current-date">{{msg.datesend}} {{msg.timesend}}</p>
          </div>
          <!-- PARA MENSAJES QUE SE RECIBEN -->
          <div *ngIf="msg.profileid !== chatClass.profile['profileid']" class="msg-recived">
            <p class="name-profile">{{msg.profilename | titlecase}}</p>
            <p>
              <a (click)="viewImages(msg.image)">
                <img [src]="baseURL + '/images/download/' + msg.image" *ngIf="msg.image !== ''" height="100px"
                  class="img-chat">
              </a>
            </p>
            <p style="font-weight: 500;" *ngIf="msg.message !== ''">{{msg.message}}</p>
            <p class="current-date">{{msg.datesend}} {{msg.timesend}}</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="chat-messages-create-container">
      <button class="chat-messages-create-button" (click)="searchImage()"
        [disabled]="ticketStatus === 2 ? false : true">
        <mat-icon>add_photo_alternate</mat-icon>
      </button>
      <input placeholder="Escribir un mensaje aquí..." class="chat-messages-create-input" type="text"
        (keypress)="chatClass.keyPressEnter($event)" [(ngModel)]="chatClass.message"
        [disabled]="ticketStatus === 2 ? false : true">
      <button [disabled]="chatClass.message.trim() === '' ? true : false" class="chat-messages-create-button"
        (click)="chatClass.SendMessage()">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </div>

  <div [hidden]="!hiddenChat">
    <img class="imgShow" alt="image-preview" #imagePreview>
    <input [(ngModel)]="chatClass.message" class="descriptionIMGInput" type="text" name="" id=""
      placeholder="Da una descripción">
    <button mat-raised-button class="btnSendPicture" (click)="saveImage()">Enviar</button>
  </div>

  <input type="file" accept="image/*" (change)="onFileChange($event)" #file hidden>
</div>
