.toolbarChat {
  width: 100%;
  height: 40px;
  display: inline-flex;
  justify-content: space-between;
  background-color: #2f4579;
  color: #ffffff;
  align-items: center;
}

.actionsBTNS {
  color: #fff;
  font-weight: bold;
  background-color: indianred;
  border-radius: 0;
  height: 40px;
}

.chat-messages-show-container {
  background: #ffffff;
  background-image: url("../../../assets/img/Fondo.svg");
  height: 462px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-width: 600px;
  overflow-y: scroll;
}

.chat-messages-show-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.chat-messages-create-container {
  background: #929292;
  height: 40px;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

.chat-messages-create-input {
  padding: 3px 5px 3px 20px;
  width: 60%;
  margin: 4px 0 0 30px;
  height: 26px;
  border-radius: 12px;
  outline: none;
  border: none;
}

.chat-messages-create-button:enabled {
  height: 40px;
  width: 50px;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* Para los mensjaes que se envían y se reciben */
.msg-send {
  height: auto;
  max-width: 280px;
  width: max-content;
  overflow: hidden;
  background-color: #b8ffb8;
  white-space: normal;
  border-radius: 10px;
  padding: 5px 15px 5px 15px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: 5px;
}

.msg-recived {
  height: auto;
  max-width: 280px;
  width: max-content;
  background-color: lightblue;
  white-space: normal;
  border-radius: 10px;
  padding: 5px 15px 5px 15px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: auto;
  text-align: left;
}

.name-profile {
  font-size: 13px;
  color: purple;
  font-weight: bold;
  margin: 0 auto;
}

.current-date {
  margin: 0 auto;
  text-align: right;
  font-size: 10px;
  font-weight: 500;
}

.img-chat {
  width: 100%;
  height: auto;
  max-width: 280px;
}

.img-chat:hover {
  cursor: pointer;
}

.imgShow {
  width: 90%;
  height: 350px;
  margin: 0 5%;
}

.btnSendPicture {
  width: 50%;
  margin: 0 25%;
  background-color: #1a377c;
  color: #ffffff;
}

.descriptionIMGInput {
  width: 80%;
  height: auto;
  border: solid 3px #787878;
  outline: 0;
  border-radius: 5px;
  margin: 0 8% 10px;
}
