.carrete-images {
    width: 95%;
    height: 550px;
    margin: 0;
}

.slick-slider {
    width: 40%;
    margin: auto;
    // background: rgb(14, 13, 13);
}

body .slick-prev,
body .slick-next {
   /*  height: 35px;
    width: 30px; */
    background: grey !important;
    z-index: 100;
}

.slide {
    margin: 5px;
    border: solid 1px;
    border-color: black;
}

.slide:hover {
    cursor: pointer;
}
