<div class="single-item" style="margin-top: 10px; text-align: center;">
    <div>
        <img [src]="urlDownloadImage + imagesArray[selectedImage].image" class="carrete-images">
    </div>
</div>
<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let image of imagesArray; let index = index" class="slide">
        <img [src]="urlDownloadImage + image.image" alt="" width="100%" (click)="onImageClick(index)">
    </div>
</ngx-slick-carousel>