<header>
    <div class="title-wrapper">
        <h2>ASIGNAR ASESOR - TICKET #{{ticketID}}</h2>
    </div>
    <button class="actionsBTNS" mat-button (click)="closeDialog()">
        <mat-icon>close</mat-icon>
    </button>
</header>
<div class="formWrapper">
    <form [formGroup]="formGroup">
        <b><label style="color: rgb(177, 0, 0); font-size: 17px;">Este ticket no cuenta con un
                asesor.</label></b><br><br>
        <label>Para que este ticket pueda ser atendido, se requiere asignarle un asesor. A continuación seleccione uno
            para que sea asignado a este <b>ticket #{{ticketID}}</b></label> <br> <br>
        <mat-form-field appearance="fill" class="selects">
            <mat-label>Seleccionar area de atención</mat-label>
            <mat-select (selectionChange)="changeArea()" formControlName="atentionArea">
                <mat-option *ngFor="let area of atentionAreasArray" [value]="area.idAreaAtencion">
                    {{area.vchDescripcion}}
                </mat-option>
            </mat-select>
        </mat-form-field> <br>
        <mat-form-field appearance="fill" class="selects">
            <mat-label>Seleccionar asesor</mat-label>
            <mat-select formControlName="employeeAttending">
                <mat-option *ngFor="let employee of employeesAttending" [value]="employee.idEmpleado">
                    {{employee.vchNombre}} {{employee.vchApellidoPaterno}} {{employee.vchApellidoMaterno}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div>
            <button [disabled]="formGroup.invalid" mat-raised-button color="primary" class="assignButton"
                (click)="assignEmployeeToTheTicket()">Asignar Asesor</button>
        </div>
    </form>
</div>