header {
    width: 100%;
    height: 40px;
    background-color: #2f4579;
    color: #ffffff;
    display: inline-flex;

    h2 {
        margin: 0;
    }
}

.actionsBTNS {
    width: min-content;
    height: 100%;
    background-color: indianred;
    color: white;
    border-radius: 0;
}

.formWrapper {
    padding: 10px 24px 24px 24px;
    height: calc(90vh - 90px);
    overflow: auto;
}

.selects {
    font-size: 15px;
    width: 100%;
    background-color: #ffffff;
}

.assignButton {
    width: 100%;
}