<header>
    <div class="title-wrapper">
        <h2>AJUSTES</h2>
    </div>
    <button class="actionsBTNS" mat-button (click)="closeModal()">
        <mat-icon>close</mat-icon>
    </button>
</header>
<div class="formWrapper">
    <form [formGroup]="formGroup">
        <b><label style="color: rgb(177, 0, 0); font-size: 17px;">Reasignar ticket</label></b><br><br>
        <label>Cambie los parámetros necesarios para reasignar el <b>ticket #{{ticketID}}</b></label> <br> <br>
        <mat-form-field appearance="fill" class="selects">
            <mat-label>Seleccionar area de atención</mat-label>
            <mat-select (selectionChange)="changeArea()" formControlName="atentionArea">
                <mat-option *ngFor="let area of atentionAreasArray" [value]="area.idAreaAtencion">
                    {{area.vchDescripcion}}
                </mat-option>
            </mat-select>
        </mat-form-field> <br>
        <mat-form-field appearance="fill" class="selects">
            <mat-label>Seleccionar asesor</mat-label>
            <mat-select (selectionChange)="changeAsesor()" formControlName="employeeAttending">
                <mat-option *ngFor="let employee of attendingEmployeesTickets" [value]="employee.idEmpleado">
                    {{employee.vchNombre}} {{employee.vchApellidoPaterno}} {{employee.vchApellidoMaterno}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div>
            <button [disabled]="formGroup.invalid" mat-raised-button color="primary"
                class="assignButton" (click)="saveChanges()">Guardar</button>
        </div>
    </form>
</div>