<header>
    <div class="title-wrapper">
        <h2>Cambiar Tipo de Usuario</h2>
    </div>
    <button class="actionsBTNS" mat-button (click)="closeDialog()">
        <mat-icon>close</mat-icon>
    </button>
</header>
<div class="formWrapper">
    <form [formGroup]="formGroup">
        <b><label style="color: rgb(177, 0, 0); font-size: 17px;">Cambiar tipo de usuario</label></b><br>
        <label>Aquí puedes cambiar el <strong>Tipo de Usuario</strong> a este empleado.</label> <br> <br>
        <div>
            <form [formGroup]="formGroup">
                <mat-form-field appearance="fill" class="ticket-form">
                    <mat-label>Asignar Tipo de Usuario</mat-label>
                    <mat-select (selectionChange)="changeUserType()" formControlName="userType">
                        <mat-option *ngFor="let type of userTypes" [value]="type.idTipoUsuario">
                            {{type.vchDescripcion}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" class="selects" *ngIf="userTypeField.value === 3">
                    <mat-label>Asignar Area de Atención</mat-label>
                    <mat-select (selectionChange)="changeAtentionArea()" formControlName="atentionArea">
                        <mat-option *ngFor="let area of atentionAreasArray" [value]="area.idAreaAtencion">
                            {{area.vchDescripcion}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button [disabled]="enableButtonSaveChanges === false" mat-raised-button color="primary"
                    class="assignButton" (click)="saveChanges()">Guardar cambios</button>
            </form>

        </div>

    </form>
</div>