.mat-form-field {
    font-size: 14px;
    width: 96%;
    margin: 0 2%;
}

table {
    width: 100%;
}

td {
    width: 25%;
}

th {
    color: #2f4579;
    width: 25%;
}

.mat-column-ticketID,
.mat-column-vchEstadoTicket,
.mat-column-vchSede {
    width: 10% !important;
}

.mat-column-vchIncidencia,
.mat-column-vchAreaAtencion,
.mat-column-dtFechaSolicitud {
    width: 15%;
}

.mat-column-vchEmpleadoSolicita {
    width: 30% !important;
}

// ESTO CORRIGIÓ LO DEL BORDE INFERIOR DE LA TABLA
.table-container-control {
    padding: 0 0 30px 0;
}
