<div class="table-container-control">
    <div style="height: 250px; text-align: center; margin-top: 25px;" *ngIf="loaderActivated === true; else elseBlock">
        <mat-spinner style="margin-left: auto; margin-right: auto;"></mat-spinner><br>
        <b><label>Cagando registros</label></b>
    </div>
    <ng-template #elseBlock>
        <mat-form-field appearance="standard">
            <mat-label>Buscar Registros</mat-label>
            <input matInput (keyup)="applyFilterNotAssigned($event)" placeholder="Ex. Mia" #input>
        </mat-form-field>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSourceNotAssigned" matSort>
                <ng-container matColumnDef="ticketID">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID Ticket</th>
                    <td mat-cell *matCellDef="let row">{{row.idCreacionTicket}}</td>
                </ng-container>

                <ng-container matColumnDef="dtFechaSolicitud">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Solicitud </th>
                    <td mat-cell *matCellDef="let row">{{row.fechaSolicitud|date: 'dd/MM/yyyy HH:MM'}}</td>
                </ng-container>

                <ng-container matColumnDef="vchEmpleadoSolicita">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Empleado Solicitante </th>
                    <td mat-cell *matCellDef="let row">{{row.vchNombre}} {{row.vchApellidoPaterno}}
                        {{row.vchApellidoMaterno}}</td>
                </ng-container>

                <ng-container matColumnDef="vchIncidencia">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Incidencia </th>
                    <td mat-cell *matCellDef="let row">{{row.vchDescripcionIncidencias}}</td>
                </ng-container>

                <ng-container matColumnDef="vchAreaAtencion">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Area Atención </th>
                    <td mat-cell *matCellDef="let row">{{row.vchDescripcionAreaAtencion}}</td>
                </ng-container>

                <ng-container matColumnDef="vchSede">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Sede </th>
                    <td mat-cell *matCellDef="let row">{{row.vchSede}}</td>
                </ng-container>

                <ng-container matColumnDef="detalles" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Detalles </th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-icon-button (click)="openDetailModal(row, false)">
                            <mat-icon class="eye">remove_red_eye</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="ajustes" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ajustes </th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-icon-button
                            (click)="openAssignTicketModal(row.idCreacionTicket, row.idAreaAtencion)">
                            <mat-icon class="eye">settings</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsNotAssigned"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsNotAssigned;"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="3">No existen registros</td>
                </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]" aria-label="Seleccionar página">
            </mat-paginator>
        </div>
    </ng-template>
</div>