<main>
  <h1><b>SISTEMA PARA LEVANTAMIENTO DE TICKETS</b></h1>
  <section class="order-items">
    <section class="info1">
      <div class="bubble">
        <p>En este sitio podrás hacer solicitudes para los diferentes
          problemas que se presenten en tu día, tendrás a tu alcance las áreas
          que pueden apoyarte con tus tickets para darles solución de
          manera eficiente.</p>
      </div>
    </section>
    <img src="assets/img/banner-2.svg" alt="" class="banner1">
  </section>
  <article class="articles">
    <article class="descriptionAS">
      <h1>¿Por qué levantar <b class="blueText">Tickets</b>?</h1>
      <h3>
          El proposito de este sistema es llevar el levantamiento de tickets hasta la comodidad de tus manos
          por medio de nuestra web app la cual te permitirá levantar tickets en servicio a una solicitud para  darle solución lo antes posible,
          esto nos permite atender los problemas de una manera <b>eficiente</b> y <b>organizada</b>.
      </h3>
    </article>

    <section class="beneficios">
      <div class="iconsOrder">
        <div class="iconsContainer">
          <div class="circleIcon" id="gradient">
            <mat-icon>av_timer</mat-icon>
          </div>
          <h4 style="margin:0;"><b>Eficiencia</b></h4>
        </div>

        <div class="iconsContainer">
          <div class="circleIcon" id="gradient">
            <mat-icon> local_library</mat-icon>
          </div>
          <h4 style="margin:0;"><b>Organización</b></h4>
        </div>

        <div class="iconsContainer">
          <div class="circleIcon" id="gradient">
            <mat-icon>assistant_photo</mat-icon>
          </div>
          <h4 style="margin:0;"><b>Asistencia en Todo Momento</b></h4>
        </div>

        <div class="iconsContainer">
          <div class="circleIcon" id="gradient">
            <mat-icon>account_balance</mat-icon>
          </div>
          <h4 style="margin:0;"><b>Plan de Trabajo</b></h4>
        </div>
      </div>
      <div class="iconsOrder">
        <div class="iconsContainer">
          <div class="circleIcon" id="gradient">
            <mat-icon>timeline</mat-icon>
          </div>
          <h4 style="margin:0;"><b>Productividad</b></h4>
        </div>

        <div class="iconsContainer">
          <div class="circleIcon" id="gradient">
            <mat-icon>people</mat-icon>
          </div>
          <h4 style="margin:0;"><b>Comunicación</b></h4>
        </div>

        <div class="iconsContainer">
          <div class="circleIcon" id="gradient">
            <mat-icon>payment</mat-icon>
          </div>
          <h4 style="margin:0;"><b>Beneficios Personales</b></h4>
        </div>

        <div class="iconsContainer">
          <div class="circleIcon" id="gradient">
            <mat-icon>blur_circular</mat-icon>
          </div>
          <h4 style="margin:0;"><b>Control de Incidencias</b></h4>
        </div>
      </div>
    </section>
  </article>

  <!-- <button (click)="showMessageizi()">Emitir mensaje</button> -->

  <footer>
    <div class="extras">
      <img  src="assets/img/Logo-color-serproinf.svg" class="imgFooter" alt="Connect logo">
      <img src="assets/img/mundito-serproinf.svg" class="imgFooter2" alt="">
    </div>
  </footer>
</main>
