$color_list:
  #2F4579,
  #34579d,
  #2e57b8,
  #4068c6,
  #426cd0,
  #5685f3,
  #5685f3,
  #426cd0,
  #4068c6,
  #2e57b8,
  #34579d,
  #2F4579;
$speed: 10s;
$timing-function: ease;
$size: 2000%;

main {
  height: calc(100vh - 50px);
}

h1 {
  text-align:center;
}

.order-items {
  width: 100%;
  height: 30%;
  display: inline-flex;
  justify-content: space-between;
}

.info1 {
  width: 50%;
  height: 100%;
  display:inline-flex;
  justify-content: center;
  align-items: center;
}

.banner1 {
  width: 50%;
  height: 100%;
}

.bubble {
  width: 70%;
  height: auto;
  background-color: #f5f5f5;
  padding: 10px 10%;
  border-bottom-left-radius: 30%;
  border-top-right-radius: 30%;
  box-shadow: 0px 2px 23px 7px rgba(0,0,0,0.74);
  -webkit-box-shadow: 0px 2px 23px 7px rgba(0,0,0,0.74);
  -moz-box-shadow: 0px 2px 23px 7px rgba(0,0,0,0.74);
}

.articles {
  width: 100%;
  height: auto;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
}

.descriptionAS {
  width: 40%;
  height: auto;
  background-color: transparent;
  padding: 0 5%;
}

.blueText {
  color: #2F4579;
  text-align: center;
}

.beneficios {
  width: 50%;
  height: auto;
  background-color: transparent;
  padding: 0;
}

.iconsOrder {
  width: 100%;
  display: inline-flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.iconsContainer {
  width: 140px;
  height: auto;
  background-color: transparent;
  text-align: center;
  padding: 10px 0;
}

.circleIcon {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: 0 auto 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.mat-icon {
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 24px;
  width: 24px;
}

#gradient {
  background: linear-gradient(270deg, $color-list);
  background-size: $size $size;
  animation: colors $speed $timing-function infinite;
  color: #ffffff;
}

@keyframes colors {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}

.links1 {
  color: #2F4579;
  font-weight: bold;
  text-decoration: none;
  font-size: 0.9rem;
  transition: all ease 0.5s;
  cursor: pointer;
  margin: 0 10px 10px 10px;
}

.links1:hover {
  color: #4886bf;
}

.extras {
  width: 100%;
  height: auto;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.links2 {
  color: #909090;
  font-weight: bold;
  text-decoration: none;
  font-size: 0.9rem;
  transition: all ease 0.3s;
  cursor: pointer;
}

.links2:hover {
  color: #696969;
}

footer {
  width: 98%;
  height: auto;
  padding: 10px 1%;
  background-color: #ffffff;
  text-align: center;
}

.imgFooter {
  width: 100px;
}

.imgFooter2 {
  width: 90px;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  ----- RESPONSIVE SECTION -----  ////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen and(max-width: 1024px) {
  .formContent {
    display: inline-block;
    justify-content: center;
  }
}
@media only screen and(max-width: 768px) {
  .hero {
    display: inline-block;
    justify-content: space-around;
    align-items: center;
  }
  .formContent {
    display: inline-flex;
    justify-content: center;
  }
  .formContainer {
    width: 80%;
    margin: 0 10%;
  }
  .shared {
    width: 70%;
    margin: 30px 10% 0;
    padding: 0 5%;
  }
}
@media only screen and(max-width: 760px) {
  .articles {
    display: inline-block;
  }
  .descriptionAS {
    width: 90%;
    padding: 0;
    margin: 0 5%
  }

  .beneficios {
    width: 96%;
    padding: 0;
    margin: 0 2%
  }
}
@media only screen and(max-width: 620px) {
  .formContainer {
    width: 96%;
    margin: 0 2%;
  }
  .shared {
    width: 94%;
    margin: 30px 2% 0;
    padding: 0 1%;
  }
  .order-items {
    height: 50%;
    display: inline-grid;
  }
  .bubble {
    width: 100%;
    height: 76%;
    margin: 2% 0;
  }
  .info1 {
    width: 92%;
    margin: 0 4%;
  }
  .banner1 {
    width: 100%;
    height: 36%;
    margin: 2% 0;
  }
}
@media only screen and(max-width: 600px) {}
@media only screen and(max-width: 580px) {
  .formContent {
    display: inline-block;
  }
  .imgFooter {
    width: 150px;
  }
}
@media only screen and(max-width: 480px) {
  .beneficios {
    display: inline-flex;
  }
  .iconsOrder {
    display: inline-block;
    padding: 0 6%;
  }
  .imgFooter {
    width: 145px;
  }
}
@media only screen and(max-width: 420px) {
  img {
    width: 180px;
  }
  .imgFooter {
    width: 135px;
  }
  .iconsOrder {
    display: inline-block;
    padding: 0 5%;
  }
}
@media only screen and(max-width: 414px) {
  .iconsOrder {
    display: inline-block;
    padding: 0 5%;
  }
}
@media only screen and(max-width: 411px) {
  img {
    width: 150px;
  }
  .imgFooter {
    width: 110px;
  }
}
@media only screen and(max-width: 380px) {
  .iconsOrder {
    display: inline-block;
    padding: 0 4%;
  }
  .imgFooter {
    width: 90px;
  }
}
@media only screen and(max-width: 360px) {
  .iconsOrder {
    display: inline-block;
    padding: 0 4%;
  }
  .imgFooter {
    width: 95px;
  }
}
@media only screen and(max-width: 320px) {
  .iconsOrder {
    display: inline-block;
    padding: 0 3%;
  }
  .imgFooter {
    width: 90px;
  }
}
