<header>
  <div>
    <mat-icon matTooltip="MENÚ" (click)="sidenav.open()">menu</mat-icon>
    <img (click)="redirectDashboard()" src="assets/img/Logo-blanco-serproinf.svg" class="logoSerproinf"
      matTooltip="SERPROINF" alt="Logo Serproinf">
  </div>
  <div>
    <!-- <div class="circle" matTooltip="Notificaciones" style="margin-right: 15px;">
      <mat-icon style="color: black;" [matBadge]="Notification" matBadgeColor="warn">notifications</mat-icon>
    </div> -->
    <div class="circle" [matMenuTriggerFor]="menu" matTooltip="Acciones">
      <mat-icon class="icon-user">person</mat-icon>
    </div>
    <mat-menu #menu="matMenu">
      <button (click)="cerrarSesion()" mat-menu-item class="subMenuItems">CERRAR SESIÓN</button>
    </mat-menu>
  </div>
</header>
<mat-sidenav-container class="example-container" (backdropClick)="close()" autosize>
  <mat-sidenav #sidenav (keydown.escape)="close()" disableClose mode="over">
    <div class="menuItemBox" *ngFor="let menuItem of menuItemsController">
      <a class="links" routerLink="{{menuItem.vchRuta}}" (click)="close();">
        <mat-icon class="mat-icons-sideBar">{{menuItem.vchIcono}}</mat-icon>
        {{menuItem.vchNombre}}
      </a>
    </div>
    <div class="menuItemBox">
      <a class="links" (click)="cerrarSesion()">
        <mat-icon class="mat-icons-sideBar">power_settings_new</mat-icon>&nbsp; CERRAR SESIÓN
      </a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<audio #newMessageNotify controls hidden>
  <source type="audio/mp3" src="assets/sounds/whatsapp_iphone-xr.mp3">
</audio>

<audio #newChangeStatusNotify controls hidden>
  <source type="audio/mp3" src="assets/sounds/jetsons_doorbell.mp3">
</audio>