header {
  background-color: #2F4579;
  width: 96%;
  height: 50px;
  color: #ffffff;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  position: fixed;
  z-index: 999;
}

.title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0;
}

.example-container {
  width: auto;
  height: auto;
  // border: none;
  // position: fixed;
  position: absolute;
  background-color: transparent;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  // z-index: 999;
}


.mat-sidenav-inner-container {
  height: 95%;
  overflow: auto;
}

.mat-sidenav {
  // z-index: 2;
  background-color: #021d5ed4;
  padding: 1% 10px;
  width: 250px;
  height: 100%;
  backdrop-filter: blur(2px);
}

.links:focus-visible {
  outline: none ;
}

mat-icon {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

.logoSerproinf {
  width: 80px;
  margin-left: 15px;
  cursor: pointer;
}

.mat-icons-sideBar {
  color: #fff;
  font-size: 1.7rem;
  cursor: pointer;
  position: relative;
  top: 6px;
  left: 0;
}

.menuItemBox {
  width: 100%;
  height: 50px;
  display: inline-flex;
  align-items: center;
}

.links {
  color: #fff;
  font-weight: normal;
  font-size: 1rem;
  text-decoration: none;
  margin-left: 5px;
  transition: all ease 0.6s;
  cursor: pointer;
}

.links:hover {
  text-decoration: underline;
  transform: translateX(10px);
}

.circle {
  width: 40px;
  height: 40px;
  margin: 5px 0;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.subMenuItems {
  border-bottom-color: red;
}

.icon-user {
  color: #000000;
}
