<header>
  <h1>Detalles del Ticket #{{dataTicket.fkIdCreacionTicket}}</h1>
</header>
<section>
  <div class="box">
    <p><b>Solicitante: </b></p>
    <p><b>No. de Ticket: </b></p>
    <p><b>Tipo de Incidencia: </b></p>
    <p><b>Detalle de Incidencia: </b></p>
    <p *ngIf="dataTicket.txtDescripcion != null"><b>Descripción Adicional: </b></p>
    <p><b>Fecha de solicitud: </b></p>
    <p><b>Estado del ticket: </b></p>
    <p><b>Sede: </b></p>
  </div>
  <div class="box">
    <p>{{dataTicket.vchNombre}} {{dataTicket.vchApellidoPaterno}} {{dataTicket.vchApellidoMaterno}}</p>
    <p>{{dataTicket.fkIdCreacionTicket}}</p>
    <p>{{dataTicket.vchDescripcionIncidencias}}</p>
    <p>{{dataTicket.vchDescripcionDetalleIncidencias}} </p>
    <p *ngIf="dataTicket.txtDescripcion != null">{{dataTicket.txtDescripcion}}</p>
    <p>{{dataTicket.fechaSolicitud | date: 'dd/MM/yyyy'}} </p>
    <p>{{dataTicket.vchDescripcionEstadoTickets}} </p>
    <p>{{dataTicket.vchSede}} </p>
  </div>
</section>
<button class="actionsBTNS" mat-raised-button (click)="closeModal()">
  <mat-icon>close</mat-icon> Cerrar
</button>