header {
    width: 100%;
    height: 40px;
    background-color: #2f4579;
    color: #ffffff;
    display: inline-flex;

    h2 {
        margin: 0;
    }
}

.actionsBTNS {
    width: min-content;
    height: 100%;
    background-color: indianred;
    color: white;
    border-radius: 0;
}

.formWrapper {
    padding: 0px 24px 24px 24px;
    height: calc(90vh - 90px);
    overflow: auto;
}

.mat-list-icon {
    color: rgba(0, 0, 0, 0.54);
}

.actionsBTNS-save {
    width: min-content;
    height: 100%;
    background-color: rgb(9, 155, 2);
    color: white;
    border-radius: 0;
}

/* .title-wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
} */
