<header>
    <!-- <button class="actionsBTNS-save" mat-button (click)="saveMenus()">
        <mat-icon>save</mat-icon>
    </button> -->
    <div class="title-wrapper">
        <h2>PERMISOS A MENÚS</h2>
    </div>
    <button class="actionsBTNS" mat-button (click)="closeDialog()">
        <mat-icon>close</mat-icon>
    </button>
</header>
<div class="formWrapper" mat-dialog-content>

    <mat-tab-group mat-stretch-tabs #tabGroup (selectedTabChange)="changeTab($event)">
        <!-- #region Tab para lo menus que ya tiene agregados el usuario -->
        <mat-tab label="Activar/Desactivar Menú">
            <ng-template matTabContent>
                <label *ngIf="!menusAdded || menusAdded.length === 0">Sin información</label>
                <mat-selection-list [multiple]="true"
                    (selectionChange)="changeMenusAdded($event.option.value, $event.option.selected)">
                    <mat-list-option *ngFor="let menu of menusAdded" [value]="menu"
                        [selected]="menu.blnActivo === 1 ? true : false">
                        <mat-icon mat-list-icon>{{menu.vchIcono}}</mat-icon>
                        <div mat-line>{{menu.vchNombre}}</div>
                        <div mat-line><b>Ruta:</b> {{menu.vchRuta}}</div>
                    </mat-list-option>
                </mat-selection-list>
            </ng-template>
        </mat-tab>
        <!-- #endregion Fin -->

        <!-- #region Tab para agregar los nuevos menus al empleado -->
        <mat-tab label="Agregar Menú">
            <ng-template matTabContent>
                <label *ngIf="!menusNotAdded || menusNotAdded.length === 0">Sin información</label>
                <mat-selection-list [multiple]="true"
                    (selectionChange)="changeMenusNotAdded($event.option.value, $event.option.selected)">
                    <mat-list-option *ngFor="let menu of menusNotAdded" [value]="menu">
                        <mat-icon mat-list-icon>{{menu.vchIcono}}</mat-icon>
                        <div mat-line>{{menu.vchNombre}}</div>
                        <div mat-line><b>Ruta:</b> {{menu.vchRuta}}</div>
                    </mat-list-option>
                </mat-selection-list>
            </ng-template>
        </mat-tab>
        <!-- #endregion Fin -->
    </mat-tab-group>

</div>