<header>
  <h1>Detalles del Ticket #{{dataTicket.idCreacionTicket}}</h1>
</header>
<section>
  <div class="box">
    <p><b>Fecha de Solicitud:</b></p>
    <p><b>Estado del ticket: </b></p>
    <p><b>Solicitante: </b></p>
    <p><b>Tipo de incidencia: </b></p>
    <p><b>Detalle de incidencia: </b></p>
    <p *ngIf="dataTicket.txtDescripcion != null"><b>Detalle de incidencia: </b></p>
  </div>
  <div class="box">
    <p>{{dataTicket.fechaSolicitud | date: 'dd/MM/yyyy, h:m a'}}</p>
    <p>{{dataTicket.statusDescription}}</p>
    <p>{{dataTicket.vchNombre}} {{dataTicket.vchApellidoPaterno}} {{dataTicket.vchApellidoMaterno}}</p>
    <p>{{dataTicket.incidencesDescription}}</p>
    <p>{{dataTicket.incidencesDetails}}</p>
    <p *ngIf="dataTicket.txtDescripcion != null">{{dataTicket.txtDescripcion}}</p>
  </div>
</section>
<button class="actionsBTNS" mat-raised-button (click)="closeModal()">
  <mat-icon>close</mat-icon> Cerrar
</button>
