header {
  width: 100%;
  height: 40px;
  background-color: #2F4579;
  text-align: center;
  color: #ffffff;
}

p {
  color: #2F4579;
}

.actionsBTNS {
  width: 100%;
  background-color: #fff;
  color: #000;
  transition: all ease 0.4s;
}

.actionsBTNS:hover {
  background-color: #2F4579;
  color: #fff;
}

section {
  width: 96%;
  height: auto;
  margin: 15px 2% 10px;
  display: inline-flex;
  justify-content: space-between;
}

.box {
  width: 48%;
}

