<main>
  <h1>ATENCIÓN DE TICKETS</h1>
  <!--  FILTRO DE DATOS-->
  <mat-form-field appearance="standard">
    <mat-label>Buscar Registros</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>
  <!--  TABLA CON DATOS-->
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="noTicket" sticky>
        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. Ticket </th>
        <td mat-cell *matCellDef="let row"> {{row.fkIdCreacionTicket}} </td>
      </ng-container>


      <ng-container matColumnDef="incidencia" sticky>
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Incidencia </th>
        <td mat-cell *matCellDef="let row"> {{row.vchDescripcionIncidencias}} </td>
      </ng-container>

      <ng-container matColumnDef="solicitante">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Solicitante </th>
        <td mat-cell *matCellDef="let row"> {{
          row.vchNombre + ' ' +
          row.vchApellidoPaterno + ' ' +
          row.vchApellidoMaterno
          }}</td>
      </ng-container>

      <ng-container matColumnDef="fechaSolicitud">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Solicitud </th>
        <td mat-cell *matCellDef="let row"> {{row.fechaSolicitud | date: 'dd/MM/yyyy hh:mm'}} </td>
      </ng-container>

      <ng-container matColumnDef="sede" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sede </th>
        <td mat-cell *matCellDef="let row"> {{row.vchSede}} </td>
      </ng-container>

      <!-- Estado -->
      <ng-container matColumnDef="estadoTicket">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado Ticket </th>
        <td mat-cell *matCellDef="let row">
          <div class="state-wrapper" (click)="openAtentionModal(row)" matTooltip="Modificar Estado del Ticket {{row.fkIdCreacionTicket}}">
            <div class="ticket-state-{{row.idEstadoTicket}}">
              <mat-icon *ngIf="row.idEstadoTicket === 1" class="icon-state">pending</mat-icon>
              <mat-icon *ngIf="row.idEstadoTicket === 2" class="icon-state">pending_actions</mat-icon>
              <mat-icon *ngIf="row.idEstadoTicket === 3" class="icon-state">check_circle_outline</mat-icon>
            </div>
            <p>{{row.vchDescripcionEstadoTickets}}</p>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="detalles">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Detalles </th>
        <td mat-cell *matCellDef="let row" (click)="openDetailsTicketsAssitence(row)"><mat-icon matTooltip="Detalles del Ticket: {{row.fkIdCreacionTicket}}" class="eye">remove_red_eye</mat-icon></td>
      </ng-container>

      <ng-container matColumnDef="mensajes" stickyEnd>
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Mensajes </th>
        <td mat-cell *matCellDef="let row"><button mat-icon-button (click)="openDialogMessages(row.fkIdCreacionTicket, row.idEstadoTicket, row.idEmpleado)">
          <mat-icon class="eye" matTooltip="Mensajes del Ticket: {{row.fkIdCreacionTicket}}">chat</mat-icon>
        </button></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Sin resultados para: "{{input.value}}"</td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 25, 50]" aria-label="Select page of users"></mat-paginator>
  </div>

<!--  <div class="misAtendidos">-->
<!--    <mat-card>-->
<!--      <p>No. Ticket:</p>-->
<!--      <p>Tipo de Incidencia:</p>-->
<!--      <p>Detalle de Incidencia:</p>-->
<!--      <p>Descripcion Adicional:</p>-->
<!--      <p>Fecha de Solicitud:</p>-->
<!--      <p>Estado Ticket:</p>-->
<!--    </mat-card>-->
<!--  </div>-->
</main>
