h1 {
  text-align: center;
  font-weight: 500;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 96%;
  margin: 0 2%;
}

td {
  width: 25%;
}

th {
  color: #2f4579;
  width: 25%;
}

/* .mat-elevation-z8 {
  width: 96%;
  margin: 0 2%;
  overflow: auto;
} */

/* .eye {
  cursor: pointer;
  color: #2e57b8;
  transition: all ease 0.5s;
}

.eye:hover {
  color: #1a377c;
} */

/* .ticket-state-3 {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #a5dc86;
  justify-content: center;
  align-content: center;

  mat-icon {
    font-size: 25px;
    line-height: 1.2;
    color: white;
  }
}

.ticket-state-2 {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffc151;
  justify-content: center;
  align-content: center;

  mat-icon {
    line-height: 1.3;
    color: white;
  }
}

.ticket-state-1 {
  display: inline-flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: lightcoral;
  justify-content: center;
  align-items: center;
  mat-icon {
    color: white;
  }
} */

/* .icon-state {
  font-size: 22px;
}

.mat-icon {
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: auto;
  width: auto;
} */

/* .state-wrapper {
  width: auto;
  height: 100%;
  display: inline-flex;
  cursor: pointer;
  p {
    margin: 0 0 0 5px;
    align-self: center;
  }
} */

.mat-column-sede,
.mat-column-noTicket,
.mat-column-incidencia {
  width: 10% !important;
}

.mat-column-fechaSolicitud {
  width: 20% !important;
}

.mat-column-solicitante {
  width: 25% !important;
}
