<header>
    <div class="title-wrapper"><h2>Editar Tickets</h2></div>
    <button class="actionsBTNS" mat-button (click)="cancelEdit()">
      <mat-icon>close</mat-icon>
    </button>
</header>
<div class="formWrapper">
    <form [formGroup]="formGroupEdit">
        <mat-form-field appearance="fill" class="ticket-form">
            <mat-label>Solicitar ticket a nombre de:</mat-label>
            <mat-select formControlName="employee">
                <mat-option *ngFor="let employee of employeesArray" [value]="employee.idEmpleado">
                    {{employee.vchNombre}} {{employee.vchApellidoPaterno}} {{employee.vchApellidoMaterno}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="ticket-form">
            <mat-label>Incidencia</mat-label>
            <mat-select (selectionChange)="changeIncidence($event.value)" formControlName="incidence">
                <mat-option *ngFor="let incidence of incidencesArray" [value]="incidence.idIncidencia">
                    {{incidence.vchDescripcion}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="ticket-form">
            <mat-label>Detalle de incidencia</mat-label>
            <mat-select (selectionChange)="changeIncidenceDetails()" formControlName="incidenceDetails">
                <mat-option *ngFor="let detail of incidencesDetailsArray" [value]="detail.idDetalleIncidencia">
                    {{detail.vchDescripcion}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="enabledTextAreaDescription === false ? 'disabled' : ''" class="ticket-form"
            appearance="fill">
            <mat-label>Descripción de falla</mat-label>
            <textarea formControlName="descriptionIncidenceOther" matInput></textarea>
        </mat-form-field>

        <mat-form-field class="ticket-form" appearance="fill">
            <mat-label>Mensaje (opcional)</mat-label>
            <textarea formControlName="optionalDescription" matInput></textarea>
        </mat-form-field>

        <button mat-raised-button color="primary" matTooltip="De ser posible apoyanos con una imagen de tu problema,
                  solo basta con dar click en este botón para subir una imagen (opcional)"
            class="uploadImageAsFirstMessage" (click)="searchImage()">
            {{fileImage ? 'Cambiar Imagen' : 'Subir Imagen'}} <mat-icon>add_photo_alternate</mat-icon>
        </button>
        <p *ngIf="fileImage" class="imageName">Imagen <b class="nameBold">{{ fileImage.name }} <br>
                <img *ngIf="fileImage" [src]="url" class="imagenTooltip"> </b>
            <label class="deleteImage" (click)="deleteImage()">Eliminar esta imagen</label>
        </p>

        <mat-form-field appearance="fill" class="ticket-form">
            <mat-label>Area de Atención</mat-label>
            <mat-select formControlName="atentionArea">
                <mat-option *ngFor="let area of atentionAreasArray" [value]="area.idAreaAtencion">
                    {{area.vchDescripcion}}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </form>
    <div class="buttonsWrapper">
        <button mat-button (click)="confirmUpdate()" class="confirmButton">Confirmar</button>
        <button mat-button class="deleteButton" (click)="deleteTicket()">
            <mat-icon>
                delete
            </mat-icon>
        </button>
    </div>
</div>

<input type="file" accept="image/*" (change)="onFileChange($event)" #file hidden>