header {
  width: 100%;
  height: 40px;
  background-color: #2f4579;
  color: #ffffff;
  display: inline-flex;

  h2 {
    margin: 0;
  }
}

.actionsBTNS {
  width: min-content;
  height: 100%;
  background-color: indianred;
  color: white;
  border-radius: 0;
}

.deleteButton {
  width: min-content;
  height: 100%;
  background-color: indianred;
  color: white;
  border-radius: 0;
}

.confirmButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  color: #ffffff;
  background-color: #2f4579;
}

/* .title-wrapper{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
  } */

.formWrapper {
  padding: 24px;
  height: calc(90vh - 90px);
  overflow: auto;
}
.ticket-form {
  // margin-top: 50px;
  font-size: 16px;
  width: 100%;
}
.imageName {
  margin: 6px 0 20px 0;
  font-size: 16px;
  cursor: default;

  b {
    cursor: pointer;
    color: #2f4579;
  }
}

.nameBold:hover {
  color: #425788;
}

.nameBold:hover .imagenTooltip {
  visibility: visible;
  opacity: 1;
}
.imagenTooltip {
  max-width: 35vw;
  height: auto;
  opacity: 0;
  position: fixed;
  bottom: 20%;
  left: 45%;
  visibility: hidden;
  transition: opacity 0.5s;
  z-index: 1;
}

.uploadImageAsFirstMessage {
  width: 100%;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 20px;
}

.deleteImage {
  font-weight: bold;
  color: red;
}

.deleteImage:hover {
  color: rgb(247, 60, 60);
  cursor: pointer;
}

.buttonsWrapper {
  width: 100%;
  height: auto;
  display: inline-flex;
}
