<header>
  <div class="title-wrapper"><h2>Movimientos para la Gestion de Tickets</h2></div>
  <button class="actionsBTNS" mat-button (click)="closeModal(dataTicket.fkIdCreacionTicket)">
    <mat-icon>close</mat-icon>
  </button>
</header>
<section>
  <h3>Estos son los tres posibles estados en el ciclo de atención de tickets:</h3>
  <div class="estadosContainer">
    <div class="details">
      <mat-icon class="icon-state Pendiente">pending</mat-icon>
      <b style="margin-left: 10px">
        <p>Pendiente</p>
      </b>
    </div>
    <div class="details">
      <mat-icon class="icon-state Proceso">pending_actions</mat-icon>
      <b style="margin-left: 10px">
        <p>Proceso</p>
      </b>
    </div>
    <div class="details">
      <mat-icon class="icon-state Cerrado">check_circle_outline</mat-icon>
      <b style="margin-left: 10px">
        <p>Cerrado</p>
      </b>
    </div>
  </div>
  <p style="text-align: center;">Este ticket esta <b>{{dataTicket.vchDescripcionEstadoTickets}}</b>,
  {{stateDescription[dataTicket.idEstadoTicket - 1]}}</p>
  <button mat-raised-button (click)="updateTicketState(dataTicket.fkIdCreacionTicket, dataTicket.idEstadoTicket)"
    class="btnAtender-{{dataTicket.idEstadoTicket}}" *ngIf="dataTicket.idEstadoTicket !== 3">
    <p>{{dataTicket.idEstadoTicket === 1 ? 'Atender Ticket' : 'Cerrar Ticket'}}</p>
  </button>
</section>