header {
  width: 100%;
  height: 40px;
  background-color: #2F4579;
  color: #ffffff;
  display: inline-flex;
}

/* .title-wrapper{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
} */

h3{
  margin: 0;
  text-align: center;
}

.actionsBTNS {
  width: min-content;
  height: 100%;
  background-color:indianred;
  color:white;
  border-radius: 0;
}

h1, h2{
  font-weight: 500;
  text-align: center;
  margin: 0;
}

p {
  margin: 0;
}

b{
  color: #2F4579;
}

section {
  width: 96%;
  height: auto;
  margin: 15px 2% 15px;
}
.Cerrado{
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #73f12c;
  justify-content: center;
  align-content: center;
}

.Pendiente{
  display: inline-flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #ff6868;
  justify-content: center;
  align-items: center;
}

.Proceso {
  display: inline-flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #ff7200;
  justify-content: center;
  align-items: center;
}

.icon-state{
  font-size: 22px;
}
.estadosContainer {
  width: 100%;
  height: auto;
  display: inline-flex;
  justify-content: space-evenly;
  margin: 25px 0;
}

.mat-icon {
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: auto;
  width: auto;
}

.details {
  width: auto;
  display: inline-flex;
}

.btnAtender-1 {
  width: 30%;
  margin: 15px 35% 0;
  background-color: #ffffff;
  transition: all ease 0.3s;
  background-color: #fa9b39f0;
  p{
    color: white;
  }
}

.btnAtender-1:hover {
  background-color:#d47a1e;
}

.btnAtender-2 {
  width: 30%;
  margin: 15px 35% 0;
  background-color: #ffffff;
  transition: all ease 0.3s;
  background-color: #78bf50;
  p{
    color: white;
  }
}

.btnAtender-2:hover {
  background-color:#9cef6d;
}

.misAtendidos {
  width: 96%;
  height: auto;
}
