/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Calibri-Regular;
  src: url("assets/Fonts/calibri/Calibri-Regular.ttf");
  src: url("assets/Fonts/calibri/Calibri-Bold.TTF");
  src: url("assets/Fonts/calibri/Calibri-Bold-Italic.ttf");
  src: url("assets/Fonts/calibri/Calibri-Italic.ttf");
  src: url("assets/Fonts/calibri/Calibri-Light-Italic.ttf");
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
main {
  padding-top: 25px;
}

.customModalAtencionTickets {
  .mat-dialog-container {
    padding: 0;
    width: 700px;
  }
}

.editarTicketModal {
  .mat-dialog-container {
    padding: 0;
    width: 60vw;
    height: 90vh;
    overflow: hidden;
  }
}

// Font icon class
.fab {
  font-family: "Font Awesome 5 Brands", "fa-brands-400";
  font-weight: 400;
}

.fas {
  font-family: "Font Awesome 5 Free", "fa-solid-900";
  font-weight: 900;
}

.far {
  font-family: "Font Awesome 5 Free", "fa-regular-400";
  font-weight: 400;
}

.messengerStylesModal {
  mat-dialog-container {
    display: block;
    padding: 0;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 500px;
    height: 700px;
    min-height: 300px;
    max-height: 542px;
  }
}

.detailsModal {
  mat-dialog-container {
    display: block;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

.mat-elevation-z8 {
  width: 96%;
  margin: 0 2%;
  overflow: auto;
}

.state-wrapper {
  width: 100%;
  height: 100%;
  display: inline-flex;
  p {
    margin: 0 0 0 5px;
    align-self: center;
  }
}

.ticket-state-3 {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #a5dc86;
  justify-content: center;
  align-content: center;

  mat-icon {
    font-size: 25px;
    line-height: 1.2;
    color: white;
  }
}

.ticket-state-2 {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffc151;
  justify-content: center;
  align-content: center;

  mat-icon {
    line-height: 1.3;
    color: white;
  }
}

.ticket-state-1 {
  display: inline-flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: lightcoral;
  justify-content: center;
  align-items: center;
  mat-icon {
    color: white;
  }
}

.eye {
  cursor: pointer;
  color: #2e57b8;
  transition: all ease 0.5s;
}

.eye:hover {
  color: #1a377c;
}

.icon-state {
  font-size: 22px;
}

.mat-icon {
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: auto;
  width: auto;
}

// Estilo del encabezado de los modales

.title-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
}
